*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width:100vw;
    color:#fff;
}

#pwd-form{
    background-color: #050d01;
    max-width: fit-content;
    margin:100px auto 0;
    padding:20px;
    border-radius: 14px;
    position: relative;

}

#pwd-form div{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
#pwd-form div label{
    margin-top: 10px;
    font-size: 1.3rem;
}

#pwd-form div input{
    padding:10px 20px 10px 5px;
    width:250px;
    border-radius: 8px;
    border: none;
}

/* Buttom */

input[type="button"]{
    padding:8px 16px;
    font-size:1rem;
    font-weight: 600;
    border: none;
    border-radius: 14px;
    display:block;
    margin:35px auto;
    background-color: rgb(7, 177, 244);
    color:#fff;
    cursor: pointer;
}

.status{
     position:relative;
     bottom:12em;
     font-size: 0.5rem;
     
}