*{
margin: 0;
padding:0;
box-sizing:border-box;

}

body{
    height:100vh;
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inputForm{
    display:flex;
    justify-content: center;
    background-color: #030604;
    height:300px;
    width:350px;
    padding:20px;
    border-radius: 20px;
}

.labelText{
    color:#fff;
    font-weight: 500;
    
}

input[type="password"]{
  width:16em;
  height: 2em;
  margin-top:8px;
  border: none;
  border-radius: 10px;
  padding: 10px;

}
input[type="password"]:focus{
    outline: none;
    border-color:#08ec14eb ;
    box-shadow: 0px 0px 10px #08ec14eb;
}

.heroDiv{
    display: flex;
    flex-direction:column;
    margin: 10px;
}

#showStatus{
    color:red;
    font-size: 10px;
}
/* Button */
#submit{
    padding:12px 30px;
    font-weight: 700;
    border-radius: 14px;
    border:none;
    background-color: #08ec14eb;
    color:#fff;
    cursor: pointer;
    display: block;
     margin:40px auto;

}

#submit:is(:hover, :focus){
    background-color: #fff;
    color:#060101f0;
}
