*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color:#fff;
    height:100vh;
    width:100vw;
}
h1{
    text-align: center;
}

.orderList{
    width:50vw;
    height: 50vh;
    margin:1em auto;
    padding:10px;
    background-color: #dff114;
    border-radius: 14px;
    overflow: hidden;
}
li{
    margin-left: 20px;
    padding:5px;
    color:#000;
    font-weight: 600;
}
.btnBox{
    width:fit-content;
    display: block;
    margin:-10px auto 0;
}

#btn , #reset{
    margin: auto 10px;
    padding:10px 20px;
    border:none;
    border-radius: 14px;
    background-color: rgb(17, 236, 17);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
