*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color:#fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h1{
   text-align: center;
   position: absolute;
   top:1em;
}
#contener{
    display: flex;
    flex-direction: column;
}

.message{
    font-size: 2rem;
    color:yellow;
    margin: 2em auto;
}
#countdown{
    visibility: hidden;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(15, 239, 228);
    font-size: 1.4rem;
}

#inputTime{
    padding:0.4em 1em;
    width:50%;
    margin:20px auto;
    font-size: 1rem;
    border-radius: 12px;
    outline-color: aqua;
    border: 2px solid grey;
   
}

/* for removing number box scroll bar */
#inputTime::-webkit-inner-spin-button,
#inputTime::-webkit-outer-spin-button{
    appearance: none;
    margin: auto;
}

#btn{
    display: block;
    margin:10px auto;
    padding:12px 24px;
    background-color: #09f409de;
    color:#fff;
    font-size: 1.2rem;
    border:none;
    border-radius: 12px;
    cursor: pointer;
 }